#Publisher and Subscriber username for broker
MQTT_USERNAME=<Username>
#Publisher and Subscriber password for broker
MQTT_PASSWORD=<Password>

#Publisher és Subscriber where to connect for testing without spoofing give publisher the attacker address
PUB_TARGET_IP=<IP>
PUB_TARGET_PORT=<port>
SUB_TARGET_IP=<IP>
SUB_TARGET_PORT=<port>